POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_PORT=15432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:15432/ecommerce
SPRING_DATASOURCE_USERNAME=ecommerce
SPRING_DATASOURCE_PASSWORD=ecommerce
